.Feature-poster {
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
}

.Feature-mask {
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #000
  );
  height: 12rem;
  width: 100%;
}

.Feature-overview {
  overflow: hidden;
}
