.Feature-poster {
  height: 800px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  z-index: -1;
}

.Feature-mask {
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #000
  );
  height: 12rem;
  width: 100%;
}

.Feature-overview {
  overflow: hidden;
}
