.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing;
}
